name: Deploy Frontend to AWS S3

on:
  push:
    branches:
      - main  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout do código
        uses: actions/checkout@v4

     
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      
      - name: Install and Build
        run: |
          yarn install --frozen-lockfile
          yarn build
        env:
          CI: false 

      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 #Ajustar de acordo com a região do bucket

    
      - name: Deploy to S3
        run: |
          aws s3 sync ./out s3://NOME-DO-BUCKET --delete

    
      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation --distribution-id SEU_ID_CLOUDFRONT --paths "/*"
