name: Deploy Frontend 

on:
  push:
    branches:
      - main  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'


      - name: Install and Build
        run: |
          yarn install --frozen-lockfile
          yarn build
        env:
          CI: false 

    
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # Ajustar para a região bucket 
  
     
      - name: Deploy to S3
        run: |
          aws s3 sync ./out s3://NOME-DO-SEU-BUCKET --delete

     
